---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R235022225","date":"2025-07-10","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #7 - 1712","taxCode":"TaxCode - 599889","itemCode":"SKU-7","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10014"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":100.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10014"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULT","customerUsageType":null,"exemptionNo":null,"referenceCode":"R235022225","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;25.6.2;"
      Content-Type:
      - application/json
      Authorization:
      - Basic MTIzNDU6MTIzNDU=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 461780c8-d553-4490-98ae-ff894e0a2cb5
      X-Avalara-Uid:
      - 461780c8-d553-4490-98ae-ff894e0a2cb5
    body:
      encoding: UTF-8
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
  recorded_at: Thu, 10 Jul 2025 14:12:10 GMT
recorded_with: VCR 6.3.1
