---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=Fooobar&country=US&line1=1234%20Foobar%20St&line2=Northwest&postalCode=foobar&region=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;25.6.2;"
      Authorization:
      - Basic MjAwNzIxMTMzMjo2MThEM0Y3NjdGMzhBOTg1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - a5df387b-2bbe-4e8c-9280-4d2dadc39ff7
      X-Avalara-Uid:
      - a5df387b-2bbe-4e8c-9280-4d2dadc39ff7
      Serverduration:
      - '00:00:00.0031284'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"address":{"line1":"1234 Foobar St","line2":"Northwest","city":"Fooobar","region":"NY","country":"US","postalCode":"foobar"},"validatedAddresses":[{"addressType":"UnknownAddressType","line1":"1234
        Foobar St","line2":"Northwest","line3":"","city":"Fooobar","region":"NY","country":"US","postalCode":"foobar"}],"resolutionQuality":"External","messages":[{"summary":"Address
        not geocoded.","details":"Address cannot be geocoded.","refersTo":"Address","severity":"Error","source":"Avalara.AvaTax.Common"},{"summary":"The
        city could not be determined.","details":"The city could not be found or determined
        from postal code.","refersTo":"Address.City","severity":"Error","source":"Avalara.AvaTax.Common"}]}'
  recorded_at: Thu, 17 Jul 2025 08:39:56 GMT
recorded_with: VCR 6.3.1
